.row-fluid
  .container
    .span12
      .cause-head
        %h1 Amet Malesuada Ridiculus
        %p Maecenas faucibus mollis interdum. Cum soclis natoque penatibus et magins dis parturient montes.
      / cause-head
    / span12
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid
  .container
    .span4
      .cause-avatar
        %a{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/cause-img/cause-img04.png"}/
      / cause-avatar
    / span4
    .span8{:style => "margin:0;"}
      .avatar-detail
        %h3 Parturient Tristique Aenean
        %p Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis inte rdum. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna.
        %a{:href => "javascript:void(0);"}
          %i
            %img{:alt => "Image", :src => "assets/glob.png"}/
          www.humanrightscompaign.com
      / avatar-detail
    / span8
    .seperator
    / seperator
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid
  .container
    .span4
      .cause-avatar
        %a{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/cause-img/cause-img01.png"}/
      / cause-avatar
    / span4
    .span8{:style => "margin:0;"}
      .avatar-detail
        %h3 Parturient Tristique Aenean
        %p Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis inte rdum. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna.
        %a{:href => "javascript:void(0);"}
          %i
            %img{:alt => "Image", :src => "assets/glob.png"}/
          www.humanrightscompaign.com
      / avatar-detail
    / span8
    .seperator
    / seperator
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid
  .container
    .span4
      .cause-avatar
        %a{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/cause-img/cause-img03.png"}/
      / cause-avatar
    / span4
    .span8{:style => "margin:0;"}
      .avatar-detail
        %h3 Parturient Tristique Aenean
        %p Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis inte rdum. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna.
        %a{:href => "javascript:void(0);"}
          %i
            %img{:alt => "Image", :src => "assets/glob.png"}/
          www.humanrightscompaign.com
      / avatar-detail
    / span8
    .seperator
    / seperator
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid
  .container
    .span4
      .cause-avatar
        %a{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/cause-img/cause-img02.png"}/
      / cause-avatar
    / span4
    .span8{:style => "margin:0;"}
      .avatar-detail
        %h3 Parturient Tristique Aenean
        %p Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis inte rdum. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna.
        %a{:href => "javascript:void(0);"}
          %i
            %img{:alt => "Image", :src => "assets/glob.png"}/
          www.humanrightscompaign.com
      / avatar-detail
    / span8
    .seperator
    / seperator
  / container
/ row-fluid
.clearfix
/ clearfix