.row-fluid
  .container
    .span12
      .cause-head.index
        %h1 Causes
        %p C4 stands for Choose your Color.  Choose your Cause.  A platform for individuality, C4 leaves the choice up to you from beginning to end.  With each C4 purchase, you choose what cause will receive at least 10% of your purchase.  At the end of the day, C4 is an expression of you! montes.
      / cause-head
    / span12
  / container
/ row-fluid
.clearfix
/ clearfix
- @causes.each do |cause|
  .row-fluid
    .container
      .span4
        .cause-avatar
          %a{:href => "javascript:void(0);", :style => "padding-top: 70px"}
            %img{:alt => "Image", :src => cause.image.url(:large)}/
        / cause-avatar
      / span4
      .span8{:style => "margin:0;"}
        .avatar-detail
          %h3= cause.title
          %p= cause.content
          %a{:href => "http://#{cause.url}", :target => "_blank"}
            %i
              %img{:alt => "Image", :src => "/assets/glob.png"}/
            = cause.url
        / avatar-detail
      / span8
      .seperator
      / seperator
    / container
  / row-fluid
  .clearfix
  / clearfix