
.row-fluid.show-cause
  .container
    .span5
      .slogan
        .slogan-img
          %img{:alt => "Image", :height => "300", :src => @cause.image.url(:large), :width => "400"}/
        .select-one
          %img.active-belt{:alt => "Image", :src => @belt_url}/
          %img.active-buckle{:alt => "Image", :src => @buckle_url}/
        / select-one
      / slogan
    / span5
    .span7
      .cause-data
        %h2= @cause.title
        %p= @cause.content
        %a{:id => "add-to-cart"}
          %button.btn.btn3.mod2{:name => "btn"}
            %i
              %img{:alt => "Image", :src => "../assets/cart-icon.png"}/
            SUPPORT CAUSE
      / cause-data
    / span7
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid.sep
/ row-fluid
.clearfix
/ clearfix
.row-fluid
  .container
    .span3
      %h4.nons Other Causes:
      .cause.mod3
        %a.cause-img{:href => cause_path("boys-&-girls-club-of-america"), :style=> "margin-top: 92px;"}
          %img{:alt => "Image", :src => "../assets/cause-img/cause-img01.png"}/
        %h3{:style=> "margin-top: 63px;"} Boys & Girls Club of America
      / cause
    / span3
    - @other.each do |cause|
      .span3
        %h4.nons  
        .cause.mod3
          %a.cause-img{:href => cause_path(cause.slug), :style=> "margin-top: 82px;"}
            %img{:alt => "Image", :src => cause.image.url(:small)}/
          %h3{:style => "margin-top:53px"} cause.title
        / cause
      / span3    
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid.sep{:style => "margin-top:35px;"}
/ row-fluid
.clearfix
/ clearfix
