.row-fluid
  .container
    .span12
      .bread
        %p
          Causes /
          %a{:href => "javascript:void(0);"} Boys & Girls Club of America
      / bread
    / span12
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid
  .container
    .span5
      .slogan
        %a.slogan-img{:href => "javascript:void(0);"}
          %img{:alt => "Image", :height => "100", :src => "../assets/cause-img/cause-img01.png", :width => "190"}/
        .select-one
          %p Belt Color :
          .ss
            %select#webmenu{:name => "webmenu", :onchange => "showValue(this.value)", :title => "Select one"}
              %option Choose Belt Color
              %option{"data-image" => "../assets/color.png", :value => "calender"} Blue
              %option{"data-image" => "../assets/color.png", :value => "calender"} Blue
              %option{"data-image" => "../assets/color.png", :value => "calender"} Blue
              %option{"data-image" => "../assets/color.png", :value => "calender"} Blue
              %option{"data-image" => "../assets/color.png", :value => "calender"} Blue
              %option{"data-image" => "../assets/color.png", :value => "calender"} Blue
          / ss
        / select-one
        .select-one{:style => "z-index:10; margin-bottom:20px;"}
          %p Buckle Color :
          .ss
            %select#webmenu2{:name => "webmenu2", :onchange => "showValue(this.value)", :title => "Select one"}
              %option Choose Buckle Color
              %option{"data-image" => "../assets/color.png", :value => "calender"} Blue
              %option{"data-image" => "../assets/color.png", :value => "calender"} Blue
              %option{"data-image" => "../assets/color.png", :value => "calender"} Blue
              %option{"data-image" => "../assets/color.png", :value => "calender"} Blue
              %option{"data-image" => "../assets/color.png", :value => "calender"} Blue
              %option{"data-image" => "../assets/color.png", :value => "calender"} Blue
          / ss
        / select-one
      / slogan
    / span5
    .span7
      .cause-data
        %h2 Amet Malesuada Ridiculus
        %span "Vestibulum Sit Fringilla"
        %p Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridicu us mus. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.
        %a{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "../assets/belt2.png"}/
        %button.btn.btn3.mod2{:name => "btn"}
          %i
            %img{:alt => "Image", :src => "../assets/cart-icon.png"}/
          SUPPORT CAUSE
      / cause-data
    / span7
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid.sep
/ row-fluid
.clearfix
/ clearfix
.row-fluid
  .container
    .span3
      %h4.nons Other Causees & Charities:
      .cause.mod3
        %a.cause-img{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "../assets/cause-img/cause-img01.png"}/
        %h3 Inceptos
      / cause
    / span3
    .span3
      %h4.nons  
      .cause.mod3
        %a.cause-img{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "../assets/cause-img/cause-img02.png"}/
        %h3{:style => "margin-top:35px"} Inceptos
      / cause
    / span3
    .span3
      %h4.nons  
      .cause.mod3
        %a.cause-img{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "../assets/cause-img/cause-img03.png"}/
        %h3{:style => "margin-top:20px"} Inceptos
      / cause
    / span3
    .span3
      %h4.nons  
      .cause.mod3
        %a.cause-img{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "../assets/cause-img/cause-img04.png"}/
        %h3{:style => "margin-top:42px"} Inceptos
      / cause
    / span3
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid.sep{:style => "margin-top:35px;"}
/ row-fluid
.clearfix
/ clearfix