#aboutUs.row-fluid
  .container
    .title
      %h3 About Us
    / title
    .clearfix
    / clearfix
    .offset1
    / offset1
    .span10
      .about-us
        %ul.posts.ab
          %li
            %a.thum{:href => "javascript:void(0);"}
              %img{:class => "about-icon",:alt => "Image", :src => "assets/about-us-img/interchangeable.jpg"}/
            %h3 Interchangeable
            %p With more than 25 colors of the Classic style and 12 colors of the Skinny style, C4 Belts gives you over 600 color combinations to match every season, every outfit, and every mood...
          %li
            %a.thum{:href => "javascript:void(0);"}
              %img{:class => "about-icon", :alt => "Image", :src => "assets/about-us-img/durable.png"}/
            %h3 Durable
            %p Thermoplastic Elastomer (TPE) plastic is the same plastic that lines snowmobile tracks. In other words, C4 Belts are durable, designed for an active lifestyle, and made to withstand even the most extreme elements. Try snowboarding in that “stylish” cowhide leather belt. Try again.
          %li
            %a.thum{:href => "javascript:void(0);"}
              %img{:class => "about-icon",:alt => "Image", :src => "assets/about-us-img/waterproof.jpg"}/
            %h3 Waterproof
            %p Forget discoloration and smells of mildew, C4 Belts are WATERPROOF.  Perfect for fun in the sun (or rain, I suppose)--wakeboarders, snowboarders, divers can all count on C4 to come out dry.
          %li
            %a.thum{:href => "javascript:void(0);"}
              %img{:class => "about-icon",:alt => "Image", :src => "assets/about-us-img/gives back.jpg"}/
            %h3 Gives Back
            %p Every purchase of a C4 Belt gives customers a voice to help make a difference in the world. Each year, C4 identifies 4 charities to give back to. Simply scan the barcode included in the belt box or visit our website and Choose your Cause.
          %li
            %a.thum{:href => "javascript:void(0);"}
              %img{:class => "about-icon",:alt => "Image", :src => "assets/about-us-img/easy to clean.jpg"}/
            %h3 Easy to Clean
            %p That white leather belt looks great against your double dark rinsed denim but the indigo dye that stays behind after wearing not so much. Not a problem with C4 Belts! Place your belt on the top rack of your dishwasher or in a cold water washing machine cycle and voila! Good as new...
          %li
            %a.thum{:href => "javascript:void(0);"}
              %img{:class => "about-icon",:alt => "Image", :src => "assets/about-us-img/animal friendly.jpg"}/
            %h3 Animal Friendly
            %p Unlike that cowhide leather belt you got as a present every Christmas, no animals are ever harmed in the making of C4 Belts. No skinning. No bleaching. No taunting animals for bad hide days. And definitely no chemicals, which makes our belts...
          %li
            %a.thum{:href => "javascript:void(0);"}
              %img{:class => "about-icon",:alt => "Image", :src => "assets/about-us-img/earth friendly.jpg"}/
            %h3 Earth Friendly
            %p TPE plastic’s low melting temperature and simplified injection molding technique lead to minimal energy use during production. And best of all, C4 Belts are 100% REC4CLABLE and can be processed like all your other recycled plastics. Not that you’ll ever need to...
          %li
            %a.thum{:href => "javascript:void(0);"}
              %img{:class => "about-icon",:alt => "Image", :src => "assets/about-us-img/perfect fit.jpg"}/
            %h3 The Perfect Fit
            %p C4 belts are for the masses. Men, women and even kids. One size fits most. Your customer cuts the end that has no holes to their size and puts the buckle back on. C4 Belts are interchangeable so buying additional belts and buckles means fewer accessories to clog the closet while maintaining maximum style.
        .clearfix
        / clearfix
      / about-us
    / span10
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid
  .container
    .span12
      %center
        %span
          %a.s2{:href => about_path} Read more about C4Belt
    / span12
  / container
/ row-fluid
.clearfix
/ clearfix
