#c4yourself.row-fluid
  .container
    .title
      %h3 C4Yourself
      %p
        Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor
        %br>/
        ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
    / title
    .clearfix
    / clearfix
    .offset4.span3
      %ul.social-icons
        %li
          %a{:href => "javascript:void(0);"}
            %img{:alt => "Image", :src => "assets/pintrest-icon.png"}/
        %li
          %a{:href => "javascript:void(0);"}
            %img{:alt => "Image", :src => "assets/instagram-icon.png"}/
        %li
          %a{:href => "javascript:void(0);"}
            %img{:alt => "Image", :src => "assets/twitter-icon.png"}/
        %li
          %a{:href => "javascript:void(0);"}
            %img{:alt => "Image", :src => "assets/facebook-icon.png"}/
      / .social-icons
    / container
  / row-fluid
  .clearfix
  / clearfix
  .row-fluid
    .container
      #full-width-slider.royalSlider.heroSlider.rsMinW
        .rsContent
          .slide01
            .span5{:style => "margin-left:5px;"}
              .blog-box
                %h4
                  %i>
                    %img{:alt => "Image", :src => "assets/blog-icon.png"}/
                  \   Latest Blog Posts
                %ul.posts
                  %li
                    %a.thum{:href => "javascript:void(0);"}
                      %i
                      %img{:alt => "Image", :src => "assets/blog-thumbnail.png"}/
                    %h3 Etiam porta sem malesuada.
                    %p
                      Sed posuere consectetur est at lobortis. Cura itur blandit tempus porttitor. Nullam id dolor id ultricies vehicula ut id elit.
                      %a{:href => "javascript:void(0);"} Continue Reading
                  %li
                    %a.thum{:href => "javascript:void(0);"}
                      %i
                      %img{:alt => "Image", :src => "assets/blog-thumbnail.png"}/
                    %h3 Etiam porta sem malesuada.
                    %p
                      Sed posuere consectetur est at lobortis. Cura itur blandit tempus porttitor. Nullam id dolor id ultricies vehicula ut id elit.
                      %a{:href => "javascript:void(0);"} Continue Reading
                  %li
                    %a.thum{:href => "javascript:void(0);"}
                      %i
                      %img{:alt => "Image", :src => "assets/blog-thumbnail.png"}/
                    %h3 Etiam porta sem malesuada.
                    %p
                      Sed posuere consectetur est at lobortis. Cura itur blandit tempus porttitor. Nullam id dolor id ultricies vehicula ut id elit.
                      %a{:href => "javascript:void(0);"} Continue Reading
                .clearfix
                / clearfix
                %a.mor{:href => "javascript:void(0);"} View more blog posts
              / blog-box
            / span5
            .span5{:style => "margin-left:5px;"}
              .blog-box
                %h4
                  %i>
                    %img{:alt => "Image", :src => "assets/latest-tweets-icon.png"}/
                  \   Latest Tweets
                %ul.posts.chn
                  %li
                    %a.thum{:href => "javascript:void(0);"}
                      %img{:alt => "Image", :src => "assets/tweets-thumbnail.png"}/
                    %h2 "Hardcore C4 #C4Yourself @ Encyclomedia"
                    %p
                      %a{:href => "javascript:void(0);"} http://instagram.com/p/apEJ.cxeTG/
                      = succeed "12" do
                        %br/
                      HRS AGO
                  %li
                    %a.thum{:href => "javascript:void(0);"}
                      %img{:alt => "Image", :src => "assets/tweets-thumbnail.png"}/
                    %h2 "Hardcore C4 #C4Yourself @ Encyclomedia"
                    %p
                      %a{:href => "javascript:void(0);"} http://instagram.com/p/apEJ.cxeTG/
                      = succeed "12" do
                        %br/
                      HRS AGO
                .clearfix
                / clearfix
                %a.mor{:href => "javascript:void(0);"} View more tweets @C4Belts
              / blog-box
              .blog-box.new
                %h4
                  %i>
                    %img{:alt => "Image", :src => "assets/facebook-post-icon.png"}/
                  \   Recent facebook activity
                %ul.posts.chn
                  %li
                    %a.thum{:href => "javascript:void(0);"}
                      %img{:alt => "Image", :src => "assets/tweets-thumbnail.png"}/
                    %h2 "Hardcore C4 #C4Yourself @ Encyclomedia"
                    %p
                      %a{:href => "javascript:void(0);"} http://instagram.com/p/apEJ.cxeTG/
                      = succeed "12" do
                        %br/
                      HRS AGO
                  %li
                    %a.thum{:href => "javascript:void(0);"}
                      %img{:alt => "Image", :src => "assets/tweets-thumbnail.png"}/
                    %h2 "Hardcore C4 #C4Yourself @ Encyclomedia"
                    %p
                      %a{:href => "javascript:void(0);"} http://instagram.com/p/apEJ.cxeTG/
                      = succeed "12" do
                        %br/
                      HRS AGO
                .clearfix
                / clearfix
                %a.mor{:href => "javascript:void(0);"} view more facebook activity
              / blog-box
            / span5
            .span2{:style => "margin-left:5px;"}
              .blog-box.modi
                %h4
                  %i>
                    %img{:alt => "Image", :src => "assets/instagram-icon.png", :style => "opacity:0.3; filter:alpha(opacity=30);"}/
                  \   Instagram photos
                %ul.posts.chan
                  %li
                    %a.thum{:href => "javascript:void(0);"}
                      %img{:alt => "Image", :src => "assets/instagram-thumbnail.png"}/
                    %p Aenean eu leo quam. Pelln tesque ornare sem lacinia qu am venen atis vestibulum.
                  %li
                    %a.thum{:href => "javascript:void(0);"}
                      %img{:alt => "Image", :src => "assets/instagram-thumbnail.png"}/
                    %p Aenean eu leo quam. Pelln tesque ornare sem lacinia qu am venen atis vestibulum.
                .clearfix
                / clearfix
                %a.mor{:href => "javascript:void(0);"} View more photos
              / blog-box
            / span2
          / slide01
        / rsContent
      / royalSlider
    / container
  / row-fluid
  .clearfix
  / clearfix
  .row-fluid.sep
  / row-fluid
  .clearfix
  / clearfix
