.row-fluid
  .container
    .title
      %h3 Causes
      %p
        C4 stands for Choose your Color.  Choose your Cause.  A platform for individuality, C4 leaves the choice up to you from beginning to end.
        %br>/
        With each C4 purchase, you choose what cause will receive at least 10% of your purchase.  At the end of the day, C4 is an expression of you!
    / title
    .clearfix
    / clearfix
    - @causes.each do |cause|
      .span3{:style => "margin:0;"}
        .cause
          %a.cause-assets{:href => cause_path(cause.slug)}
            .small-cause-img
              %img{ alt: "Image", src: cause.image.url(:small) }/
        / cause
        .cause-info
          %h3= cause.title
          %p= truncate( cause.content, length: 150, separator: ' ')
          %a{:href => cause_path(cause.slug)}
            %button.btn.btn3{:name => "btn"} LEARN MORE
        / cause-info
      / span3    
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid.more-cause
  .container
    .span12
      %p
        Learn more about
        %a{:href => causes_path} Causes & Charities
        that C4 Belts works with.
        %a{:href => causes_path, :style => "color:#999; font-size:17px;"} >
        #celebrities
    / span12
  / container
/ row-fluid
.clearfix
/ clearfix
