#causes.row-fluid
  .container
    .title
      %h3 Causes
      %p
        C4 stands for Choose your Color.  Choose your Cause.  A platform for individuality, C4 leaves the choice up to you from beginning to end.
        %br>/
        With each C4 purchase, you choose what cause will receive at least 10% of your purchase.  At the end of the day, C4 is an expression of you!
    / title
    .clearfix
    / clearfix
    .span3{:style => "margin:0;"}
      .cause
        %a.cause-assets{:href => cause_path}
          .small-cause-img
            %img{:alt => "Image", :src => "assets/cause-img/cause-img01.png"}/
      / cause
      .cause-info
        %h3 Boys and Girls Club of America
        %p= truncate("The Boys and Girls club of America inspires and enables all young people to realize their full potential as productive, responsible, and caring citizens. BGCA provides a safe place to learn and grow; ongoing relationships with caring, adult professionals; life-enhancing programs and character development experiences; and hope and opportunity. C4 Understands the importance of investing in future generations. With the help from BGCA, young people have a greater chance of a safe and happy future.", length: 150, separator: ' ')
        %a{:href => cause_path("boys-&-girls-club-of-america")}
          %button.btn.btn3{:name => "btn"} LEARN MORE
      / cause-info
    / span3
    .span3
      .cause
        %a.cause-assets{:href => cause_path}
          .small-cause-img
            %img{:alt => "Image", :src => "assets/cause-img/cause-img02.png"}/
      / cause
      .cause-info
        %h3 Captain Planet Foundation
        %p= truncate("The Captain Planet Foundation is a truly unique charity.  Through generous donations, CPF is able to award grants to young people that are trying to make a positive impact on their communities through environmental projects.  CPF has funded over 3,000 unique projects all around the world.  We at C4 strive to be an environmentally-sustainable business.  The CPF not only makes a huge impact on our environment but they do so by empowering the next generation to make a difference.", length: 150, separator: ' ')
        %a{:href => cause_path("captain-planet-foundation")}
          %button.btn.btn3{:name => "btn"} LEARN MORE
      / cause-info
    / span3
    .span3
      .cause
        %a.cause-assets{:href => cause_path}
          .small-cause-img
            %img{:alt => "Image", :src => "assets/cause-img/cause-img03.png"}/
      / cause
      .cause-info
        %h3 Best Friends Animal Society
        %p= truncate("The Best Friends Animal Society is an animal welfare organization with a No Kill policy. BFAS works nationwide in outreach programs with shelters, other rescue groups and members to promote pet adoption, spay-and-neuter services, and humane education programs. C4 believes in the physical and psychological well-being of animals. In 30 years, BFAS has helped reduce the amount of unnecessary animal deaths from 17 million/year to 4 million/year, and C4 looks forward to seeing this number continue to decrease.", length: 150, separator: ' ')
        %a{:href => cause_path("best-friends-animal-society")}
          %button.btn.btn3{:name => "btn"} LEARN MORE
      / cause-info
    / span3
    .span3
      .cause
        %a.cause-assets{:href => cause_path}
          .small-cause-img
            %img{:alt => "Image", :src => "assets/cause-img/cause-img04.png"}/
      / cause
      .cause-info
        %h3 Human Rights Campaign
        %p= truncate("The Human Rights Campaign is the largest Civil Rights organization working towards LGBT equality.  Since 1980, HRC has been organizing grassroots movements and lobbying in Washington to reach the goal of equality for all US citizens.  With more than 1.5 Million supporters and volunteers around the world,  C4 is proud to partner with an organization as important as HRC that fights to protect individuality.  Their work truly inspires us as we feel that the issues they are facing will define our generation for years to come.", length: 150, separator: ' ')
        %a{:href => cause_path("human-rights-campaign")}
          %button.btn.btn3{:name => "btn"} LEARN MORE
      / cause-info
    / span3
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid.more-cause
  .container
    .span12
      %p
        Learn more about
        %a{:href => causes_path} Causes & Charities
        that C4 Belts works with.
        %a{:href => causes_path, :style => "color:#999; font-size:17px;"} >
    / span12
  / container
/ row-fluid
.clearfix
/ clearfix
