.row-fluid.hidden-phone
  .container
    .title
      %h3 Celebrities
      %p
        See which of your favorite celebrities also wears C4.
    / title
    .clearfix
    / clearfix
    .span6{:style => "margin:0;"}
      #gallery.content
        .slideshow-container
          #slideshow.slideshow
          / slideshow
        / slideshow-container
      / content
    / span5
    .span6#celebrities-container
      #thumbs.navigation
        .row-fluid
          %ul.thumbs.noscript
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Aaron Colton.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Aaron Colton.jpg"}
                .caption
                  Aaron Colton is a professional streetbike freestyle biker hailing from Shakopee, Minnesota. From 2006 to 2008, Aaron Colton placed first at competitions such as XDL National Championship, King of the South Individual Freestyle, XSBA Individual Freestyle, XDL Indy GP Individual Freestyle, and Starboyz Stuntfest Individual Freestyle. In most recent years, Colton continues to compete in the country’s largest freestyle biking competitions. Pictured is Aaron Colton competing in 2012 while wearing a Green C4 Belt and Green Buckle.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Austin Hair.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Austin Hair.jpg"}
                .caption
                  Austin Hair is a professional wakeboarder who has been competing on the Pro Tour since 2007. In 2010 Austin was ranked 4th overall on the Pro Wakeboard Tour and the WWA World Series and was the 2012 AWA National champion in both Boat and cable wakeboarding. Austin has been featured on CBS Sports, Fox, ESPN, ESPN 2, and Fuel TV. Pictured is Austin Hair wakeboarding at the Orlando Watersports Complex wearing a Baby Blue C4 Belt and Baby Blue Buckle.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Ben G.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Ben G.jpg"}
                .caption
                  Ben G is a rapper hailing from Columbia, SC and is the leader of the hip hop group BFAM. He is best known for his 2 mixtapes The Reflection, and Cak-ill-ak Muzik, hosted by DJ Green Lantern which features the hit singles Dump My Ashes, Sex and Candy, and On My Way featuring Jake Troth. Pictured is Ben G on stage at the University of Alabama wearing a Red C4 Belt and White Buckle.
        .row-fluid
          %ul.thumbs.noscript
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Cherub.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Cherub.jpg"}
                .caption
                  Cherub is an electro-pop duo hailing from Nashville, TN that is the self-proclaimed dance love-­child of 80’s funk and pop-­music from the future. The members of Cherub, Jordan Kelley and Jason Huber, are best known for their viral hits Doses and Mimosas and XOXO and have performed at some of the biggest music festivals in the US in 2012 and 2013. Pictured is Jason Huber of Cherub wearing a Black C4 Belt and Black Buckle.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Chris Webby.png"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Chris Webby.png"}
                .caption
                  Chris Webby hails from Connecticut, and is best known for his 2 independent mixtapes There Goes the Neighborhood, and Bars on Me which features guest appearances from hip-hop veterans Bun B, Method Man, and Prodigy of Mobb Deep. Pictured is Chris Webby performing at the Skate and Surf Festival wearing a Black C4 Belt and White Buckle.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/CyHi Da Prynce.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/CyHi Da Prynce.jpg"}
                .caption
                  CyHi Da Prynce, is a hip hop recording artist from Stone Mountain, GA. He is currently signed to Akon's Konvict Muzik, Bu Thiam's BuVision, Kanye West's GOOD Music and Def Jam Recordings. CyHi appeared on West's highly acclaimed album, My Beautiful Dark Twisted Fantasy in 2010 and has released five mixtapes, with the latest being Ivy League: Kick Back in 2013. Pictured is CyHi Da Prynce with 2 belts: a Black C4 Belt and Yellow Buckle, and a Blue C4 Belt and Black Buckle.
        .row-fluid
          %ul.thumbs.noscript
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Denarius Moore.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Denarius Moore.jpg"}
                .caption
                  Denarius Moore is an NFL wide receiver for the Oakland Raiders. He played college football at the University of Tennessee. Moore was drafted by the Raiders in 2011 as the 148th overall pick. Moore was the Raiders’ top receiver of the 2012 season. Pictured is Denarius Moore with his Tennessee Volunteers colors: an Orange C4 Belt and White Buckle.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/DJ Smallz.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/DJ Smallz.jpg"}
                .caption
                  DJ Smallz is a hip hop DJ, best known for his Southern Smoke mixtapes as well as his weekly show on Sirius Satellite Radio and DISH Network, Southern Smoke Radio. His mixtapes have featured such artists as Young Buck, Ludacris, Master P, Lil Wayne, B.o.B, Drake, and Juicy J. Pictured is DJ Smallz with a Black C4 Belt and Gold Buckle.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Gorilla Zoe.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Gorilla Zoe.jpg"}
                .caption
                  Gorilla Zoe hails from Atlanta, GA. His fans know him best for being a member of the group Boyz N Da Hood, for his 3 solo albums: Welcome to the Zoo, Don’t Feed da Animals, and King Kong, for the hit singles Hood Figga, Echo, and Yung Joc’s Bottle Poppin’, and for his countless classic mixtapes. Pictured is Gorilla Zoe with a Baby Blue C4 Belt and White Buckle, and Black C4 Belt and Red Buckle.
        .row-fluid
          %ul.thumbs.noscript  
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Lady Noon.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Lady Noon.jpg"}
                .caption
                  Lady Noon hails from Montreux, Switzerland and is best known as the resident DJ at club MAD in Lausanne where her fans go to see her spin a mix of progressive house music. Pictured is Lady Noon performing at Electroz'Arènes wearing a Hot Pink C4 Belt and White Buckle.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Lil Niqo.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Lil Niqo.jpg"}
                .caption
                  Lil Niqo is a 13 year-old hip hop phenom hailing from San Diego, CA. He made Def Jam history as the youngest artist signed to the legendary label at the age of 10. Lil Niqo is known best for his hits OK Then featuring DJ Khaled, and Television Love. Pictured is Lil Niqo on the red carpet of the 2012 MTV Movie Awards wearing a White C4 Belt and Red Buckle.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Ludacris.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Ludacris.jpg"}
                .caption
                  Ludacris is a multi-Grammy award winning rapper from Atlanta, Ga. Ludacris is best known for his 7 studio albums on Def Jam Records and the smash hits  Welcome to Atlanta featuring Jermaine Dupri, Move B***h featuring Mystikal and I-20, Stand Up featuring Shawnna, Money Maker featuring Pharrell, Runaway Love featuring Mary J. Blige, and How Low. Ludacris is also an accomplished actor. He is best known for his roles in the blockbuster movies 2 Fast 2 Furious, Fast Five, Fast & Furious 6, Hustle & Flow, and Crash. Ludacris also has a non-profit organization, the Ludacris Foundation, which aims to inspire the youth through education, memorable experiences and helping the youth help themselves. Pictured is Ludacris with a Black C4 Belt and Red Buckle.
        .row-fluid
          %ul.thumbs.noscript
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Margaret Cho.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Margaret Cho.jpg"}
                .caption
                  Margaret Cho is an Emmy nominated comedian, actress, and author. She is best known for her stand-up comedy acts, featured television appearances, and her role as Teri Lee on the Lifetime Television series Drop Dead Diva. Pictured is Margaret Cho with Hoda Kobt and Kathie Lee Gifford on NBC’s Today Show wearing an Olive C4 Belt and White Buckle.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Ray Ray.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Ray Ray.jpg"}
                .caption
                  Mindless Behavior stirs up a frenzy wherever they go. Mingling R&B grooves, pop hooks, and hip hop swag, the teen quartet—Prodigy, Roc Royal, Ray Ray, and Princeton—has quickly become a modern musical phenomenon with an army of screaming fans following them everywhere. Mindless Behavior is best known for their 2 chart-topping albums: #1 Girl and All Around the World, and their hit singles My Girl and Mrs. Right featuring Diggy Simmons. Pictured is Ray Ray wearing a White C4 Belt and a ?? Buckle.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Ruben Najera.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Ruben Najera.jpg"}
                .caption
                  Ruben Najera is a professional skateboarder hailing from El Centro, CA. Ruben Najera is currently featuring C4 Belts in 2013 on his “C4 Yourself” Pro Skate Tour in the Southern California region. Pictured is Ruben Najera wearing his signature colorway Red C4 Belt and Gray Buckle.
        .row-fluid
          %ul.thumbs.noscript
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Sam Montgomery.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Sam Montgomery.jpg"}
                .caption
                  Sam Montgomery, also known as “Sonic Sam”, is an NFL linebacker for the Houston Texans. Montgomery played for Louisiana State University from 2010 to 2012 and was named All-American. Montgomery was drafted to the Houston Texans in 2013 as the 95th overall pick. Pictured is Sonic Sam wearing a Blue C4 Belt and White Buckle.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Shay Johnson.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Shay Johnson.jpg"}
                .caption
                  Shay Johnson is a reality TV star hailing from Atlanta, GA. Shay Johnson was also known as Buckeey in the VHI series Flavor of Love starring Flavor Flav, where Johnson appeared in The Flavor of Love 2 in 2006 and Flavor of Love Girls: Charm School in 2007. In 2012, Shay Johnson returned to TV on the series Love & Hip Hop: Atlanta, where she was rapper Lil Scrappy’s best friend. Pictured is Shay Johnson with two C4 Skinny Belts: a Red C4 Skinny and a Sky Blue C4 Skinny.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Shwayze.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Shwayze.jpg"}
                .caption
                  Shwayze hails from Malibu, CA. Shwayze is best known for his hits Buzzin’ and Corona and Lime, and his MTV reality series Buzzin’. Shwayze has had several guest star appearances on his songs, including: Snoop Dogg, the Knux, Kendrick Lamar, and SkyBlu of LMFAO. Pictured is Shwayze performing in Charleston, SC wearing a Sky Blue C4 Belt and White Buckle.
        .row-fluid
          %ul.thumbs.noscript
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Skinny Deville.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Skinny Deville.jpg"}
                .caption
                  Nappy Roots is an alternative Southern hip hop quartet that originated in Bowling Green, Kentucky and is best known for their hit singles Po' Folks, Awnaw, Roun' The Globe, and Good Day. Nappy Roots was the best selling hip hop group of 2002. The group consists of Milledgeville, GA native Fish Scales and Kentucky natives Skinny DeVille, B. Stille and Ron Clutch. Pictured is Skinny DeVille wearing a Yellow C4 Belt and Yellow Buckle.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/SkyBlu.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/SkyBlu.jpg"}
                .caption
                  Sky Blu hails from Los Angeles, CA and  is one half of the Grammy-nominated, worldwide party-rock duo LMFAO, known for their smash hits: Sexy And I Know It, Champagne Showers, Sorry for Party Rocking, Shots, and Party Rock Anthem, which won several awards at 2012 Billboard Music Awards. Pictured is Sky Blu performing in Charleston, SC wearing an Orange C4 Belt and Black Buckle.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Sonny Digital.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Sonny Digital.jpg"}
                .caption
                  Sonny Digital is a record producer and rapper from Atlanta, Ga who is best known for producing YC's hit single Racks, Future’s single Same Damn Time and 2 Chainz's Birthday Song featuring Kanye West. Pictured is Sonny Digital at Atlanta’s A3C hip hop festival with a Black C4 Belt and Silver Buckle.
        .row-fluid
          %ul.thumbs.noscript
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Stephen Bishop.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Stephen Bishop.jpg"}
                .caption
                  Stephen Bishop is an actor and retired baseball player. He is most known for his role in Brad Pitt’s Money Ball where he played baseball player David Justice. Pictured is Stephen Bishop with NFL player Rob Gronkowski of the New England Patriots on the golf course wearing an Orange C4 Belt and Orange Buckle.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Thomas Decoud.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Thomas Decoud.jpg"}
                .caption
                  Thomas DeCoud is an NFL free safety for the Atlanta Falcons. DeCoud played college football for the University of California, Berkeley from 2003 to 2007 and was drafted by the Falcons in the 2008 NFL Draft as the 98th overall pick. DeCoud received recognition from USA Today, which listed him on its annual \"All-Joe\" team in 2010. DeCoud is famous for his ESPN SportsCenter interview in 2012, when he played the \"Meow Game\" from the movie Super Troopers. Pictured is Thomas DeCoud at an Atlanta sneaker convention with a Gray C4 Belt and Maroon Buckle.
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Umphreys McGee.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Umphreys McGee.jpg"}
                .caption
                  Umphrey’s McGee is a progressive rock band hailing from Chicago, IL. Since 1997, UM has produced a total of 7 studio albums to an ever-growing fanbase and performed at some of the biggest music festivals across the US. In 2013, C4 collaborated with UM bassist Ryan Stasik to create a signature line of C4/UM belts, of which a portion of the proceeds were donated to the non-profit organization Snow City Arts, bringing music and arts education to kids on extended hospital stays. Pictured are UM members backstage at the Tabernacle in Atlanta on New Years Eve (L to R): drummer Kris Myers wearing a White C4 Belt and Grey Buckle, percussionist Andy Farag wearing an Orange C4 Belt and Blue Buckle, guitarist Jake Cinninger wearing an Olive C4 Belt and Red Buckle, keyboardist Joel Cummins wearing a Green C4 Belt and Green Buckle, and bassist Ryan Stasik wearing a White C4 Belt and Plum Buckle.
        .row-fluid
          %ul.thumbs.noscript
            %li.span4
              %a.thumb{:href => "assets/celebrity-img/Vienna Girardi.jpg"}
                %img{:alt => "Image", :src => "assets/celebrity-img/Vienna Girardi.jpg"}
                .caption
                  Vienna Girardi is a reality TV star. She is best known for winning the 14th season of ABC’s The Bachelor. Vienna has also appeared on other TV shows including: Dancing with the Stars, The Ellen Degeneres Show, 20/20 and Live with Regis. Pictured is Vienna Girardi wearing a Hot Pink C4 Belt and Gray Buckle.
      / navigation
    / span7
  / container
/ row-fluid
.clearfix.hidden-phone
/ clearfix
.row-fluid.hidden-phone
  .container
    .span12
      #caption.celebrity-text

    / span12
  / container
/ row-fluid
.clearfix
/ clearfix

/
  %span
    %a{:class => 'continue-text',:href => celebrities_path} Continue Reading.
