.row-fluid.full
  .container
    .span12
      #showcase.showcase
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/abc3340.png"}/
              %p
                Featured on ABC News Birmingham, AL
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/ajc.png"}/
              %p
                Featured in ‘Jessica Shops’ column
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/aspen.gif"}/
              %p
                Featured in Aspen Magazine
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/atlanta_in_town.gif"}/
              %p
                Featured in ‘Earth-Friendly Gift Ideas” article
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/atlanta_magazine.jpg"}/
              %p
                “C4 Belts began as a solution to a daily fashion problem.”
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/c.png"}/
              %p
                "With a unique idea, the new company has joined the ranks of products lines that make a conscience effort to give back."
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/cbs_atlanta.png"}/
              %p
                Founder of C4 featured on CBS Atlanta
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/citysoles.png"}/
              %p
                Featured on City soles TV
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/curve.png"}/
              %p
                Featured in ‘The Color of Pride’, “Whether you’re rooting for a marriage equality or a cure for cancer, you can choose from over 200 belt combinations and for each purchase, a different cause including the HRC.”
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/eide.png"}/
              %p

                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/fox35.jpg"}/
              %p
                "Every year, the biggest name in fashion, footwear and accessories descend on Las Vegas for MAGIC Market Week to show off their fail collection."
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/gotham.jpg"}/
              %p
                Michah Jesse showing his C4 Style in Gotham Magazine
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/jezebel.jpg"}/
              %p
                Featured in Jezebel magazine
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/music_for_good.jpg"}/
              %p
                "C4 Belts, which make simple, stylish belts in every color of the rainbow, asks its customers to choose their belt color and choose their cause.”
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/points_north.gif"}/
              %p
                Featured in “Back to School” article
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/shop_eat_surf.png"}/
              %p
                Featured on Shop-eat-surf.com’s ‘Surf Expo: The List’
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/suavv.jpg"}/
              %p
                “C4 Belts has become one of the most sought after fashion accessories in America causing a complete revolution in the belt industry.”
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/tastemaker.png"}/
              %p
                “We love how cool these belts not only make you look, but feel!”
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/tcs.png"}/
              %p
                Featured on The Campus Style
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/thrillist.png"}/
              %p
                Featured on Thrillest.com
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/unofficial_networks.jpg"}/
              %p
                "The company’s green platform and philosophy of giving back is key to setting them apart from others."
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/urban_lux.jpg"}/
              %p
                "Colorful, compassionate, cool and creative are four words that illustrate C4 Belts."
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/vibe.jpg"}/
              %p
                Worn on the cover of Vibe magazine
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
        .showcase-slide
          .showcase-content
            .news-bar
              %a.news-icon{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/pr-img/wbn.png"}/
              %p
                Featured on Worldboatingnetwork.com
                %a{:href => "javascript:void(0);"} Continue Reading
            / news-bar
          / showcase-content
        / showcase-slide
      / jcarousel-wrapper
      .clearfix
      / clearfix
    / span12
  / container
/ row-fluid
.clearfix
/ clearfix
