.container-fluid
  #shop.row-fluid
    .container
      .span3
        .pallete-box
          %ul#type-titles.hides
            %li#i-1
              %p CLASSIC
            %li#i-2
              %p SKINNY
            /%li#i-3
            / %p FANCY BELT
            /%li#i-4
            /  %p SIMPLE BELT
            /%li#i-5
            /  %p LEATHER BELT
          %a.next2{:href => "javascript:void(0);"} >
          %a.prev2{:href => "javascript:void(0);"} <
          .color-box
            %p Choose Belt Color:
            %div
              #icolor.icolorC
              / icolor
            / colors
          / color-box
          .clearfix
          / clearfix
          .color-box
            %p Choose Buckle Color:
            %div
              #icolor2.icolorC
              / icolor
            / colors
          / color-box
          .clearfix
          / clearfix
          .randomize
            %a Feeling Adventurous? RANDOMIZE
          / randomize
          .clearfix
          / clearfix
          .color-box
            %p Recent Color Schemes:
            #icolor3.icolorC
            %a{:id => "add-to-cart"}
              %button.btn.btn2{:name => "btn"}
                %i
                  %img{:alt => "Image", :src => "assets/cart-icon.png"}/
                ADD TO CART
          / color-box
          .clearfix
          / clearfix

      .span8
        .belt-assets
          %a{:href => "javascript:void(0);"}
            %img.active-belt{:alt => "Image", :src => @default_belt_url}/
            %img.active-buckle{:alt => "Image", :src => @default_buckle_url}/
            %img#loading_image{:src => "assets/loading.gif", :style => "display: none;"}
        / belt-assets
      / span8
      .span1
        .social-share
          %p Share:
          %ul
            %li
              %a{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/twitter-icon.png"}/
            %li
              %a{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/facebook-icon.png"}/
            %li
              %a{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/instagram-icon.png"}/
        / social-share
      / span1
    / container
  / row-fluid
  .clearfix
  / clearfix

  =render 'layouts/navbar'

  #causes
  =render 'causes_info'

  =render 'celebrities_info'

  =render 'pr_slideshow'

  =render 'about_us'

