- @buckles.each do |buckle|
  = buckle.name
  = button_to 'Add to Cart', line_items_path(buckle_id: buckle, belt_id: '1')

.container-fluid
  #shop.row-fluid
    .container
      .span3
        .pallete-box
          %ul.hides
            %li#i-1
              %p THICK BELT
            %li#i-2
              %p THIN BELT
            %li#i-3
              %p FANCY BELT
            %li#i-4
              %p SIMPLE BELT
            %li#i-5
              %p LEATHER BELT
          %a.next2{:href => "javascript:void(0);", :onclick => "next()"} >
          %a.prev2{:href => "javascript:void(0);", :onclick => "back()"} <
          .color-box
            %p Choose Belt Color:
            #vertical-scrollbar-demo.colors.gray-skin.demo
              #icolor.icolorC
              / icolor
            / colors
          / color-box
          .clearfix
          / clearfix
          .color-box
            %p Choose Buckle Color:
            #vertical-scrollbar-demo2.colors.gray-skin.demo
              #icolor2.icolorC
              / icolor
            / colors
          / color-box
          .clearfix
          / clearfix
          .qoute
            %p Feeling Adventurous? RANDOMIZE
          / qoute
          .clearfix
          / clearfix
          .color-box
            %p Recent Color Schemes:
            %a.recent-color{:href => "javascript:void(0);"}
              %img{:alt => "Image", :src => "assets/recents-color.png"}/
            %a.recent-color{:href => "javascript:void(0);"}
              %img{:alt => "Image", :src => "assets/recents-color.png"}/
            %a.recent-color{:href => "javascript:void(0);"}
              %img{:alt => "Image", :src => "assets/recents-color.png"}/
            %a.recent-color{:href => "javascript:void(0);"}
              %img{:alt => "Image", :src => "assets/recents-color.png"}/
            %a{"data-toggle" => "modal", :href => "#myModal", :role => "button"}
              %button.btn.btn2{:name => "btn"}
                %i
                  %img{:alt => "Image", :src => "assets/cart-icon.png"}/
                ADD TO CART
          / color-box
          .clearfix
          / clearfix
          / Modal
          #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h3#myModalLabel SHOPPING CART
            / modal-header
            .modal-body
              .product
                %a.pro-assets{:href => "javascript:void(0);"}
                  %img{:alt => "Image", :src => "assets/pro-img.png"}/
                .quantity
                  %p ORANGE/PURPLE
                  %ul
                    %li
                      %select
                        %option 01
                        %option 02
                        %option 03
                        %option 04
                        %option 05
                / quantity
                %p.rate
                  $100.
                  %span 00
                  \       X
                .clearfix
                / clearfix
              / product
              .clearfix
              / clearfix
              .pro-detail
                %ul
                  %li
                    %p CART SUBTOTAL
                    %span $100
                  %li
                    %p SHIPPING
                    %span FREE
                  %li
                    %p ORDER TOTAL
                    %span $100
                  %li
                  %li
                    %i Please choose your cause at checkout
              / pro-detail
            / modal-body
            .modal-footer
              %a{:href => "javascript:void(0);"} Continue Browsing
              %button.btn.btn2
                %i
                  %img{:alt => "Image", :src => "assets/cart-icon.png"}/
                CHECK OUT
            / modal-footer
          / modal
        / pallete-box
        .clearfix
        / clearfix
      / span3
      .span8
        .belt-assets
          %a{:href => "javascript:void(0);"}
            %img{:alt => "Image", :src => "assets/belt-img.png"}/
        / belt-assets
      / span8
      .span1
        .social-share
          %p Share:
          %ul
            %li
              %a{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/twitter-icon.png"}/
            %li
              %a{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/facebook-icon.png"}/
            %li
              %a{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/instagram-icon.png"}/
        / social-share
      / span1
    / container
  / row-fluid
  .clearfix
  / clearfix

  =render 'causes_info'

  =render 'celebrities_info'

  .row-fluid.full
    .container
      .span12
        #showcase.showcase
          .showcase-slide
            .showcase-content
              .news-bar
                %a.news-icon{:href => "javascript:void(0);"}
                  %img{:alt => "Image", :src => "assets/news-logo.png"}/
                %p
                  "Every year, the biggest name in fashion, footwear and accessories descend on Las Vegas for MAGIC Market Week to show off their fail collection."
                  %a{:href => "javascript:void(0);"} Continue Reading
              / news-bar
            / showcase-content
          / showcase-slide
          .showcase-slide
            .showcase-content
              .news-bar
                %a.news-icon{:href => "javascript:void(0);"}
                  %img{:alt => "Image", :src => "assets/news-logo.png"}/
                %p
                  "Every year, the biggest name in fashion, footwear and accessories descend on Las Vegas for MAGIC Market Week to show off their fail collection."
                  %a{:href => "javascript:void(0);"} Continue Reading
              / news-bar
            / showcase-content
          / showcase-slide
          .showcase-slide
            .showcase-content
              .news-bar
                %a.news-icon{:href => "javascript:void(0);"}
                  %img{:alt => "Image", :src => "assets/news-logo.png"}/
                %p
                  "Every year, the biggest name in fashion, footwear and accessories descend on Las Vegas for MAGIC Market Week to show off their fail collection."
                  %a{:href => "javascript:void(0);"} Continue Reading
              / news-bar
            / showcase-content
          / showcase-slide
        / jcarousel-wrapper
        .clearfix
        / clearfix
      / span12
    / container
  / row-fluid
  .clearfix
  / clearfix

  #aboutUs.row-fluid
    .container
      .title
        %h3 About Us
        %p
          Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor
          %br>/
          ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
      / title
      .clearfix
      / clearfix
      .offset1
      / offset1
      .span10
        .about-us
          %ul.posts.ab
            %li
              %a.thum{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/about-us-thumbnail.png"}/
              %h3 100% Recycleable
              %p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.
            %li
              %a.thum{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/about-us-thumbnail.png"}/
              %h3 Animal Friendly
              %p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.
            %li
              %a.thum{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/about-us-thumbnail.png"}/
              %h3 BFA- FREE & Nickel Free
              %p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.
            %li
              %a.thum{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/about-us-thumbnail.png"}/
              %h3 Energy Efficent
              %p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.
          .clearfix
          / clearfix
        / about-us
      / span10
    / container
  / row-fluid
  .clearfix
  / clearfix
  .row-fluid
    .container
      .span12
        %center
          %span
            %a.s2{:href => about_path} Read more about C4Belt
      / span12
    / container
  / row-fluid
  .clearfix
  / clearfix

