.container-fluid
  #shop.row-fluid
    .container
      .span3
        .pallete-box
          %ul#type-titles.hides
            %li#i-1
              %p CLASSIC
            %li#i-2
              %p SKINNY
            /%li#i-3
            / %p FANCY BELT
            /%li#i-4
            /  %p SIMPLE BELT
            /%li#i-5
            /  %p LEATHER BELT
          %a.next2{:href => "javascript:void(0);"} >
          %a.prev2{:href => "javascript:void(0);"} <
          .color-box
            %p Choose Belt Color:
            %div
              #icolor.icolorC
              / icolor
            / colors
          / color-box
          .clearfix
          / clearfix
          .color-box
            %p Choose Buckle Color:
            %div
              #icolor2.icolorC
              / icolor
            / colors
          / color-box
          .clearfix
          / clearfix
          .qoute
            %a Feeling Adventurous? RANDOMIZE
          / qoute
          .clearfix
          / clearfix
          .color-box
            %p Recent Color Schemes:
            #icolor3.icolorC
            %a{"data-toggle" => "modal", :href => "#myModal", :role => "button"}
              %button.btn.btn2{:name => "btn"}
                %i
                  %img{:alt => "Image", :src => "assets/cart-icon.png"}/
                ADD TO CART
          / color-box
          .clearfix
          / clearfix
          / Modal
          #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h3#myModalLabel SHOPPING CART
            / modal-header
            .modal-body
              .product
                %a.pro-assets{:href => "javascript:void(0);"}
                  %img{:alt => "Image", :src => "assets/pro-img.png"}/
                .quantity
                  %p ORANGE/PURPLE
                  %ul
                    %li
                      %select
                        %option 01
                        %option 02
                        %option 03
                        %option 04
                        %option 05
                / quantity
                %p.rate
                  $100.
                  %span 00
                  \       X
                .clearfix
                / clearfix
              / product
              .clearfix
              / clearfix
              .pro-detail
                %ul
                  %li
                    %p CART SUBTOTAL
                    %span $100
                  %li
                    %p SHIPPING
                    %span FREE
                  %li
                    %p ORDER TOTAL
                    %span $100
                  %li
                  %li
                    %i Please choose your cause at checkout
              / pro-detail
            / modal-body
            .modal-footer
              %a{:href => "javascript:void(0);"} Continue Browsing
              %button.btn.btn2
                %i
                  %img{:alt => "Image", :src => "assets/cart-icon.png"}/
                CHECK OUT
            / modal-footer
          / modal
        / pallete-box
        .clearfix
        / clearfix
      / span3
      .span8
        .belt-assets
          %a{:href => "javascript:void(0);"}
            %img.active-belt{:alt => "Image", :src => "assets/belts/classic/0.png"}/
            %img.active-buckle{:alt => "Image", :src => "assets/buckles/classic/0.png"}/
            %img#loading_image{:src => "assets/loading.gif", :style => "display: none;"}
        / belt-assets
      / span8
      .span1
        .social-share
          %p Share:
          %ul
            %li
              %a{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/twitter-icon.png"}/
            %li
              %a{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/facebook-icon.png"}/
            %li
              %a{:href => "javascript:void(0);"}
                %img{:alt => "Image", :src => "assets/instagram-icon.png"}/
        / social-share
      / span1
    / container
  / row-fluid
  .clearfix
  / clearfix

  =render 'layouts/navbar'

  #causes
  =render 'causes_info'

  =render 'celebrities_info'

  =render 'pr_slideshow'

  =render 'about_us'

