.row-fluid
  #scroller_container
    .jscroller2_left_endless.jscroller2_speed-500
      %ul.img-cont
        %li
          %a{:href => "javascript:void(0);"}
            %img{:alt => "Image", :src => "assets/about-page-slider/1.jpg"}/
        %li
          %a{:href => "javascript:void(0);"}
            %img{:alt => "Image", :src => "assets/about-page-slider/2.jpg"}/
        %li
          %a{:href => "javascript:void(0);"}
            %img{:alt => "Image", :src => "assets/about-page-slider/3.jpg"}/
        %li
          %a{:href => "javascript:void(0);"}
            %img{:alt => "Image", :src => "assets/about-page-slider/4.jpg"}/
        %li
          %a{:href => "javascript:void(0);"}
            %img{:alt => "Image", :src => "assets/about-page-slider/5.jpg"}/
        %li
          %a{:href => "javascript:void(0);"}
            %img{:alt => "Image", :src => "assets/about-page-slider/6.jpg"}/
        %li
          %a{:href => "javascript:void(0);"}
            %img{:alt => "Image", :src => "assets/about-page-slider/7.jpg"}/
        %li
          %a{:href => "javascript:void(0);"}
            %img{:alt => "Image", :src => "assets/about-page-slider/8.jpg"}/
    / scroller
  /scroller_container
/ row-fluid
.clearfix
/ clearfix
.row-fluid.border-bottom
/ row-fluid
.clearfix
/ clearfix
.row-fluid
  .container
    .span12
      .cause-head{:style => "margin-top:30px;"}
        %h1 About Us
        %br/
        %p.mor-para
          %span.about-sub-head C4's Mission:
          %br/
          To promote Individuality through quality fashion accessories that gives back.  C4 stands for Choose your Color, Choose your Cause.  It is C4's goal to provide a unique shopping experience to individual thinkers who will leave looking cool on the outside, AND feeling good on the inside.
          %br/
          %br/
          C4 partners with four awesome charities each year who help the world in vastly different ways.  Learn more about this year's charities here.  With each purchase, customers vote on how a portion of their purchase is given back.  At the end of the year--all votes are tallied and donations are made based on the distribution of votes.  In our first year 2012, you can see how donations were broken down:
          %br/
          %br/
        .pie-chart
          =image_tag('about-us-img/results 2012 edit.jpg', size: "600x500")
          %br/
          %br/
        %p.mor-para
          %span.about-sub-head The C4 Story:
          %br/
          The idea for C4 was born in an apartment above the bustling streets of Shanghai, where 4 American friends set out to find adventure, new friends, new experiences. A few months in Shangha's busy markets and late-night clubs showed them that the only thing cramping their style was a severe lack of belt choices.
          %br/
          %br/
          Their leather belts from the U.S. were no longer cutting it: they stretch, the rain ruins them, they remind people of Carl in Accounting.  But the friends never had this problem with another accessory - their watches - despite the fact that watches had as boring of a history as belts. (Pocket watches ring a bell?) The world of watches had long since been revolutionized with the introduction of new colors, new styles, and new materials, such as the silicone used for watch bands. Why, then, hadn't a similar revolution taken the belt world by storm? They soon found the answer: the silicone material on watches can't take the high levels of tension around the belt buckle. So the friends kept searching.
          %br/
          %br/
          Not long after, one of the friends' uncles with over 25 years experience in plastics suggested a belt made of the same rubbery plastic used on snowmobile treads.  It was the breakthrough they had been waiting for. After a few prototypes proved successful, the friends shut themselves away to cultivate their vision for a new world of belts, a world in which belts liberate rather than constrict. For months they talked, sketched, argued, erased, and poured all of their energy into C4. And when they finally threw open the doors, they unleashed a revolution in the belt industry, a revolution that gives the individual unlimited freedom to dress as they want while giving back to the world around them.
          %br/
          %br/
      / cause-head
    / span12
  / container
/ row-fluid
.clearfix
/ clearfix
