.row-fluid
  .container
    .span12
      .bread
        %p
          Clelebrities /
          %a{:href => "javascript:void(0);"} Lil'Wayne
      / bread
    / span12
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid
  .container
    .span5
      %a.cel-img{:href => "javascript:void(0);"}
        %img{:alt => "Image", :src => "assets/celebrity-img/celebrities-img.png"}/
    / span5
    .span7
      .cause-data.chan2
        %h2 Amet Malesuada Ridiculus
        %span "Vestibulum Sit Fringilla"
        %p Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridicu us mus. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        %a{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/cell-belt.png"}/
        %button.btn.btn3.mod2{:name => "btn"}
          %i
            %img{:alt => "Image", :src => "assets/cart-icon.png"}/
          ADD TO CART
      / cause-data
    / span7
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid.sep
/ row-fluid
.clearfix
/ clearfix
.row-fluid
  .container
    .span3
      %h4.nons Other Celebrities:
      .cause.mod4
        %a.pull-right.chn2{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/zoom-icon.png"}/
        %a{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/celebrity-img/celebrities-img.png"}/
        %h3 Inceptos
      / cause
    / span3
    .span3
      %h4.nons  
      .cause.mod4
        %a.pull-right.chn2{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/zoom-icon.png"}/
        %a{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/celebrity-img/celebrities-img.png"}/
        %h3 Inceptos
      / cause
    / span3
    .span3
      %h4.nons  
      .cause.mod4
        %a.pull-right.chn2{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/zoom-icon.png"}/
        %a{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/celebrity-img/celebrities-img.png"}/
        %h3 Inceptos
      / cause
    / span3
    .span3
      %h4.nons  
      .cause.mod4
        %a.pull-right.chn2{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/zoom-icon.png"}/
        %a{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/celebrity-img/celebrities-img.png"}/
        %h3 Inceptos
      / cause
    / span3
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid.sep{:style => "margin-top:35px;"}
/ row-fluid
.clearfix
/ clearfix