.row-fluid
  .container
    .title
      %br/
      %br/
      %br/
      %h3 Partners & Retailers
      %p
        Coming Soon
-#        Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor
-#        %br>/
-#        ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
-#    / title
-#    .clearfix
-#    / clearfix
-#    .divider2
-#    / divider2
-#    .span2
-#      %p.ret Find a Retailer Near You :
-#    / span2
-#    .span4
-#      %input.input2{:name => "text", :placeholder => "Enter Country, City, State Potsal Code", :type => "text"}/
-#      %button.btn.btn3.chn4{:name => "btn"} Search
-#    / span4
-#    .offset6
-#    / offset6
-#  / container
-#/ row-fluid
-#.clearfix
-#/ clearfix
-#.row-fluid
-#  .map
-#    %script{:src => "http://www.webestools.com/google_map_gen.js?lati=37.0625&long=-95.6770&zoom=4&width=10000&height=555&mapType=normal&map_btn_normal=yes&map_btn_satelite=yes&map_btn_mixte=yes&map_small=yes&marqueur=yes&info_bulle=", :type => "text/javascript"}
-#  / map
-#/ row-fluid
-#.clearfix
-#/ clearfix
