.row-fluid
  .span12
    - if cart.line_items.empty?
      %p Your cart is empty.
    - else
      = render(cart.line_items)

.pro-detail
  %ul
    %li
      %p SHIPPING
      %span FREE
    %li
      %p ORDER TOTAL
      %span= cart.total_price_dollars
    %li
    %li
      %i Please choose your cause at checkout
