.row-fluid
  .span12
    - if cart.line_items.empty?
      %p Your cart is empty.
    - unless cart.line_items.empty?
      = render(cart.line_items)

    %tr.total_line
      %td Total
      %td.total_cell
        -#TODO: Make total price work
        = cart.total_price_dollars
    = button_to 'Empty cart', cart, method: :delete, data: { confirm: 'Are you sure?' } unless params[:controller] == "orders"

