.row-fluid
  .container
    .title
      %br/
      %br/
      %br/
      %h3 C4Yourself
      %p
        Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor
        %br>/
        ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.
    / title
    .clearfix
    / clearfix
    .span9{:style => "margin:0;"}
      .big-post
        %h3 Parturient Quam Sollicitudin Ultricies
        %span 01/01/2013
        %a.blog-image{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/camera2.png"}/
        %p
          Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor
          %br>/
          ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi
          %a{:href => "blog-post.html"} Continue Reading
      / big-post
      .big-post
        %h3 Parturient Quam Sollicitudin Ultricies
        %span 01/01/2013
        %a.blog-image{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/camera2.png"}/
        %p
          Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor
          %br>/
          ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi
          %a{:href => "blog-post.html"} Continue Reading
        .clearfix
        / clearfix
        %a.mors{:href => "javascript:void(0);"} View more blog posts
      / big-post
    / span9
    .span3{:style => "margin:0;"}
      .insta
        %h5
          %i
            %img{:alt => "Image", :src => "assets/instagram-pic.png"}/
          Instagram
        %a.insta-img{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/camera3.png"}/
        %p
          Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo.
          %br/
          %a{:href => "javasccript:void(0);"} View more photos
        .divider2
        / divider2
      / insta
      .clearfix
      / clearfix
      .pints
        %h5
          %i
            %img{:alt => "Image", :src => "assets/pint.png"}/
          Pintrest
        %a.pin-img{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/pin2.png"}/
        %p
          "Etiam porta sem malesuada magna mollis euismod. Duis mollis"
          %br/
          %a{:href => "javasccript:void(0);"} View pintrest
        .divider2
        / divider2
      / insta
      .clearfix
      / clearfix
      .pints
        %h5
          %i
            %img{:alt => "Image", :src => "assets/facebook-post-icon.png"}/
          Facebook
        %a.pin-img{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/pin2.png"}/
        %p
          "Etiam porta sem malesuada magna mollis euismod. Duis mollis"
          %br/
          %a{:href => "javasccript:void(0);"} View facebook
        .divider2
        / divider2
      / insta
      .clearfix
      / clearfix
      .pints
        %h5
          %i
            %img{:alt => "Image", :src => "assets/latest-tweets-icon.png"}/
          Twitter
        %a.pin-img{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "assets/pin2.png"}/
        %p
          "Etiam porta sem malesuada magna mollis euismod. Duis mollis"
          %br/
          %a{:href => "javasccript:void(0);"} View twitter
        .divider2
        / divider2
      / insta
      .clearfix
      / clearfix
    / span3
  / container
/ row-fluid
.clearfix
/ clearfix