.row-fluid
  .container
    .span3
      .bread2
        %p
          C4yourself /
          %a{:href => "javascript:void(0);"} Blog
      / bread
    / span3
    .offset6.span3
      %p.post-date
        %i
          %img{:alt => "Image", :src => "../../assets/clock-icon.png"}/
        July 01, 2013
    / offset6
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid
  .container
    .span12
      .blog-ig
        %a{:href => "javascript:void(0);"}
          %img{:alt => "Image", :src => "../../assets/camera.png"}/
      / blog-ig
    / span12
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid
  .container
    .span12
      .cause-head{:style => "margin-top:30px;"}
        %h1 Amet Malesuada Ridiculus
        %p.mor-para
          %i by: Ronny Sage
          %br/
          = succeed "Morbi" do
            %br/
          leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus.
          %br/
          = succeed "Morbi" do
            %br/
          leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus.Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus.
          %br/
          %br/
        %a.clock-link{:href => "javascript:void(0);"}
          %i
            %img{:alt => "Image", :src => "../../assets/clock-icon.png"}/
          17 Days Ago / Technology
      / cause-head
    / span12
  / container
/ row-fluid
.clearfix
/ clearfix
.row-fluid.seperator
/ row-fluid
.clearfix
/ clearfix
.row-fluid
  .container
    .span12
      %a.or{:href => "javascript:void(0);"} Return to previous post
    / span12
  / container
/ row-fluid
.clearfix
/ clearfix