header#row-2-v2.div-top-bar > .row-fluid
  position: fixed
  z-index: 1000

ul#nav
  height: 100%


ul.thumbs > li
  max-width: 220px
  max-height: 165px
  display: block
  position:absolute
  margin: 3px

#thumbs.navigation
  width: 100%

#caption

.continue-text
  text-align: right
  display: block

a.news-icon img
  max-width: 100px
  max-height: 70px

.news-bar-inner
  width: 80%
  margin: 0 auto

.about-icon
  width: 186px
  height: 186px

.about-sub-head
  display: inline
  font-size: 1.2em
  font-family: "GothichRoundedMedium"
  font-weight: normal
  color: #5b5b5b

#celebrities.row-fluid
  min-height: 617px

#thumbs.navigation
  min-height: 450px

#scroller_container
  position: relative
  width: 100%
  height: 400px
  overflow: hide

.marquee0
  margin-top: 48px
  padding-top: 28px

#scroller
  white-space: nowrap
  line-height: 60px
  font-size: 60px

.wrapper-sticky
  z-index: 50

.pie-chart
  text-align: center
  margin-top: 24px
  margin-bottom: 24px

.cause-head.index
  margin-top: 85px

#webmenu,#webmenu2
  width: 115%
