header#row-2-v2.div-top-bar > .row-fluid
  position: relative
  z-index: 1000

ul#nav
  height: 100%
  font-family: "OpenSansLight"
  font-size: 16px

ul.thumbs > li
  width: 190px
  // height: 190px
  display: block
  position:absolute

#thumbs.navigation
  width: 100%

#caption

.continue-text
  text-align: right
  display: block

a.news-icon img
  max-width: 100px
  max-height: 70px

.news-bar-inner
  width: 80%
  margin: 0 auto

.about-icon
  width: 186px
  height: 186px

.about-sub-head
  display: inline
  font-size: 1.2em
  font-family: "GothichRoundedMedium"
  font-weight: normal
  color: #5b5b5b

#celebrities.row-fluid
  min-height: 617px

#thumbs.navigation
  // min-height: 450px

#scroller_container
  position: relative
  width: 100%
  height: 400px
  overflow: hide

.marquee0
  margin-top: 48px
  padding-top: 28px

#scroller
  white-space: nowrap
  line-height: 60px
  font-size: 60px

.wrapper-sticky
  z-index: 50

.navbar
  width: 100%

.pie-chart
  text-align: center
  margin-top: 24px
  margin-bottom: 24px

.cause-head.index
  margin-top: 85px

#webmenu,#webmenu2
  width: 115%

.cause-avatar > a > img
  width: 270px

/* social feed
.user span
  display: none

.posts.chn#tweets li
  > p.tweet
    display: inline-block
    @media (min-width: 980px)
      max-width: 79%
    @media (min-width: 0px) and (max-width: 979px)
      max-width: 72%
    margin: 0
    > a
      display: inline-block
      float: none
      margin-right: 0
    > a[target]
      display: block
      word-wrap: break-word

img.facebook-feed
  width: 100px
  height: 100px

#social-icons
  float: right

.bread, .show-cause
  padding-top: 54px

/* shopping cart
.cart-belt-div
  position: relative
  width: 120px
  display: inline-block
  margin-bottom: 54px

.cart-belt-image
  z-index: 2
  position: absolute
  width: 150px
  float: right


#stripe_error
  display: none
