header#row-2-v2.div-top-bar > .row-fluid
  position: fixed
  z-index: 1000

ul#nav
  height: 100%

.small-cause-img

ul.thumbs > li
  max-width: 220px
  max-height: 165px
  display: block
  position:absolute
  margin: 3px

#caption

.continue-text
  text-align: right
  display: block
