.container-fluid
  %header
    .row-fluid
      %nav.navbar.navbar-fixed-top
        .navbar-inner.top-nav
          .container
            / .btn-navbar is used as the toggle for collapsed navbar content
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            / Everything you want hidden at 940px or less, place within here
            .nav-collapse.collapse
              = link_to image_tag('logo.png'), root_path, class: 'brand'
              %ul#nav.nav.pull-right
                %li.current
                  %a{:href => root_path} shop
                %li
                  %a{:href => causes_path} causes
                %li
                  %a{:href => celebrities_path} celebrities
                %li
                  %a{:href => "#c4yourself"} c4yourself
                %li
                  %a{:href => about_path} about us
                %li
                  %a{:href => retailers_path} retailers
                %li
                  %a{:href => "javascript:void(0);"}
                    %i
                      %img{:alt => "Image", :src => "../../assets/cart-icon-dark.png"}/
                    view cart
            / nav-collapse
          / container
        / navbar-inner
      / navbar
    / row-fluid
    .clearfix
    / clearfix

-#= link_to "C4belts", root_path, :class => 'brand'
-#%ul.nav
-#  - if user_signed_in?
-#    %li
-#      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
-#  - else
-#    %li
-#      = link_to 'Login', new_user_session_path
-#  - if user_signed_in?
-#    %li
-#      = link_to 'Edit account', edit_user_registration_path
-#    - if current_user.has_role? :admin
-#      %li
-#        = link_to 'Admin', users_path
-#  - else
-#    %li
-#      = link_to 'Sign up', new_user_registration_path
